# Entorno virtual
venv/

# Archivos de entorno
.env
*.env

# Archivos Python compilados
__pycache__/
*.py[cod]
*$py.class

# Logs y salidas temporales
*.log
*.out
*.pid

# Configuración de VS Code
.vscode/

# Archivos del sistema
.DS_Store
Thumbs.db

# Alembic
alembic/versions/*.pyc

# Coverage y pruebas
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.cache
.pytest_cache/

# MyPy
.mypy_cache/
.dmypy.json

# Base de datos local
*.sqlite3
